/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
0.0 General
1.0 Normalize
2.0 Header
3.0 Main
3.1 Groups
3.2 Cards
3.3 Drag and Drop
*/


/* 0.0 General
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/helvetica.eot');
  src: url('../fonts/helvetica.eot?#iefix') format('embedded-opentype'),
       url('../fonts/helvetica.woff') format('woff'),
       url('../fonts/helvetica.ttf') format('truetype'),
       url('../fonts/helvetica.svg?#Helvetica Neue') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/helvetica-bold.eot');
  src: url('../fonts/helvetica-bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/helvetica-bold.woff') format('woff'),
       url('../fonts/helvetica-bold.ttf') format('truetype'),
       url('../fonts/helvetica-bold.svg#Helvetica Neue Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

:root{
  --fullWidth: 100%;
  --red: #e74f3f;
  --blue: #3498db;
  --green: #2ecc71;
  --yellow: #f1c40f;
}

::selection {
  background: color(var(--blue) lightness(40%));;
  color: #f;
}

/* 1.0 Normalize
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: #fc;
  margin: 0;
  height: 100%;
  color: #35;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

a:active,
a:hover {
  outline-width: 0;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

h1 {
  font-size: 2em;
  margin: 0;
  text-align: center;
}

h2 {
  text-align: center;
  margin: 60px 0 25px 0;
}

img {
  border-style: none;
  max-width: 100%;
}

figure {
  margin: 1em 40px;
}

button {
  font: inherit;
  overflow: visible;
  margin: 0;
  outline: 0;
  text-transform: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input,
textarea {
  font: inherit;
  margin: 0;
  overflow: visible;
  outline: 0;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/* 2.0 Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */

header {
  min-height: 300px;
    min-height: 100px;
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

/* 3.0 Main
–––––––––––––––––––––––––––––––––––––––––––––––––– */

main {
  background: #f;
  color: #35;
  margin: 20px auto;
  padding: 10px 10px;
  clear: fix-legacy;
  @media (width >= 990px) {
    width: 970px;
  }
  @media (width >= 1200px) {
    width: 1170px;
  }
}

/* 3.1 Groups
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.groups {
  clear: fix-legacy;
  margin-bottom: 50px;
}

.group {
  position: relative;
  min-height: 1px;
  padding: 0 8px;
  @media (width >= 650px) {
    float: left;
    width: calc(var(--fullWidth)/12*3);
  }
  @media (width <= 1199px) and (width >= 650px) {
    width: calc(var(--fullWidth)/12*6);
  }
}

.red, .blue, .green, .yellow {
  margin-top: 20px;
  padding: 18px 10px;
  min-height: 400px;
  border-radius: 5px;
}

.red {
  background-color: var(--red);
}

.blue {
  background-color: var(--blue);
}

.green {
  background-color: var(--green);
}

.yellow {
  background-color: var(--yellow);
}

/* 3.2 Cards
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.card {
  background-color: #fff;
  margin: 7px;
  border-radius: 5px;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
  &:hover {
    cursor: move;
  }
}

.card-photo {
  max-width: 108px;
  padding: 5px;
  position: relative;
  float: left;
}

.card-photo img {
  border-radius: 50%;
  margin: 5px 0 4px 0;
}

.card-header {
  padding: 5px 0 0 5px;
}

.firstname {
  font-weight: bold;
  font-size: 16px;
  margin: 10px 0 0 0;
}

.lastname {
  font-weight: bold;
  font-size: 20px;
  margin: 5px 0 10px 0;
}

.card-info {
  padding: 0 10px;
}

.card-info hr {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.card-body {
  padding-bottom: 1px;
}

/* 3.3 Drag and Drop
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.gu-mirror {
  position: fixed;
  margin: 0;
  z-index: 1;
  opacity: .8;
  filter: alpha(opacity=80)
}

.gu-hide {
  display: none;
}

.gu-unselectable {
  user-select: none;
}

.gu-transit {
  opacity: .2;
  filter:alpha(opacity=20)
}
