/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
0.0 General
1.0 Normalize
2.0 Header
3.0 Main
3.1 Groups
3.2 Cards
3.3 Drag and Drop
3.4 Task form
4.0 Footer
*/


/* 0.0 General
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/helvetica.eot');
  src: url('../fonts/helvetica.eot?#iefix') format('embedded-opentype'),
       url('../fonts/helvetica.woff') format('woff'),
       url('../fonts/helvetica.ttf') format('truetype'),
       url('../fonts/helvetica.svg?#Helvetica Neue') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/helvetica-bold.eot');
  src: url('../fonts/helvetica-bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/helvetica-bold.woff') format('woff'),
       url('../fonts/helvetica-bold.ttf') format('truetype'),
       url('../fonts/helvetica-bold.svg#Helvetica Neue Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

:root{
  --fullWidth: 100%;
  --red: #e74f3f;
  --blue: #3498db;
  --green: #2ecc71;
  --yellow: #f1c40f;
}

::selection {
  background: color(var(--blue) lightness(60%));;
  color: #f;
}

/* 1.0 Normalize
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: #fc;
  margin: 0;
  height: 100%;
  color: #35;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

a:active,
a:hover {
  outline-width: 0;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

h1 {
  font-size: 2em;
  margin: 0;
  text-align: center;
}

h2 {
  text-align: center;
  margin: 0;
}

img {
  border-style: none;
  max-width: 100%;
}

figure {
  margin: 1em 40px;
}

button {
  font: inherit;
  overflow: visible;
  margin: 0;
  outline: 0;
  text-transform: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input,
textarea {
  font: inherit;
  margin: 0;
  overflow: visible;
  outline: 0;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/* 2.0 Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */

header {
  min-height: 300px;
  background-image: url(../images/header.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  @media (width <= 1200px) {
    background-size: 1200px;
    background-repeat: no-repeat;
    background-position: bottom;
    margin-bottom: 15px;
    min-height: 300px;
  }
}

/* 3.0 Main
–––––––––––––––––––––––––––––––––––––––––––––––––– */

main {
  background: #f;
  color: #35;
  margin: 20px auto;
  padding: 10px 10px;
  clear: fix-legacy;
  @media (width >= 990px) {
    width: 970px;
  }
  @media (width >= 1200px) {
    width: 1170px;
  }
}

h1 {
  margin: 10px 0 20px 0;
}

/* 3.1 Introduction
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.intro {
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: flex-start;
  img {
    max-width: calc(var(--fullWidth)/12*5);
    border-radius: 15px;
    @media (width <= 1199px) {
      max-width: calc(var(--fullWidth)/12*5.5);
    }
    @media (width <= 950px) {
      max-width: 100%;
      display: block;
      margin: auto;
    }
  }
  div {
    font-size: 17px;
    padding-left: 20px;
    text-align: justify;
    max-width: calc(var(--fullWidth)/12*6.6);
    @media (width <= 1199px) {
      font-size: 16px;
    }
    @media (width <= 950px) {
      font-size: 18px;
      max-width: var(--fullWidth);
      margin: 20px;
    }
  }
  @media (width <= 950px) {
    flex-wrap: wrap;
  }
}

/* 3.1 Groups
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.groups {
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: flex-start;
  @media (width <= 1199px) {
    flex-wrap: wrap;
  }
}

.group {
  min-height: 1px;
  padding: 0 8px;
  @media (width <= 650px) {
    width: calc(var(--fullWidth)/12*12);
  }
  @media (width <= 1199px) and (width >= 650px) {
    width: calc(var(--fullWidth)/12*6);
  }
  @media (width >= 1199px) {
    width: calc(var(--fullWidth)/12*3);
  }
}

.red, .blue, .green, .yellow {
  margin-top: 20px;
  padding: 18px 10px;
  min-height: 400px;
  border-radius: 5px;
}

.group span {
  content: ' ';
  display: block;
  size: 100% 1px;
}

.red {
  background-color: var(--red);
}

.blue {
  background-color: var(--blue);
}

.green {
  background-color: var(--green);
}

.yellow {
  background-color: var(--yellow);
}

/* 3.2 Cards
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.card {
  background-color: #fff;
  margin: 7px;
  border-radius: 5px;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
  &:hover {
    cursor: move;
  }
}

.card button {
  float: right;
  margin-top: 10px;
  background: none;
  border: none;
  font-weight: bold;
  transition: color 0.25s ease;
  color: transparent;
  font-size: 20px;
}

.red .card button:hover {
  color: var(--red);
}

.blue .card button:hover {
  color: var(--blue);
}

.green .card button:hover {
  color: var(--green);
}

.yellow .card button:hover {
  color: var(--yellow);
}

.card-photo {
  max-width: 108px;
  size: 108px;
  padding: 5px;
  position: relative;
  float: left;
}

.card-photo img {
  border-radius: 50%;
  margin: 5px 0 4px 0;
  size: 95px;
}

.card-header {
  padding: 5px 0 0 5px;
}

.firstname {
  font-weight: bold;
  font-size: 16px;
  margin: 10px 0 0 0;
}

.lastname {
  font-weight: bold;
  font-size: 20px;
  margin: 5px 0 10px 0;
}

.card-info {
  padding: 0 10px;
}

.card-info hr {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.card-body {
  padding-bottom: 1px;
}

/* 3.3 Drag and Drop
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.gu-mirror {
  position: fixed;
  margin: 0;
  z-index: 1;
  opacity: .8;
  filter: alpha(opacity=80)
}

.gu-hide {
  display: none;
}

.gu-unselectable {
  user-select: none;
}

.gu-transit {
  opacity: .2;
  filter:alpha(opacity=20)
}

/* 3.4 Card form
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.card-button {
  display: block;
  color: #f;
  background: var(--red);
  border: 1px solid color(var(--red) blackness(13%));
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 20px;
  margin: 20px auto;
  transition: all 0.5s ease;
}

.card-button:hover {
  background: color(var(--red) blackness(30%));
  border: 1px solid color(var(--red) blackness(33%));
}

.card-form form {
  padding: 0 30px;
}

.card-form input, .card-form textarea, .card-form select {
  display: block;
  font-size: 18px;
  line-height: 25px;
  padding: 5px 10px;
  border-radius: 3px;
  background: #f;
  outline: 0;
  border: 1px solid color(#f2 blackness(23%));
  margin: 10px 0;
  width: 100%;
  text-align: left;
}

.card-form textarea {
  resize: none;;
  min-height: 150px;
  max-width: 100%;
}

.card-form button {
  border: 0;
  padding: 10px 35px;
  font-size: 18px;
  background: var(--blue);
  color: #f;
  border-radius: 3px;
  margin: 5px 0 30px 0;
}

.card-form ul {
  margin: 0 0 30px 0;
  padding: 0;
  background: linear-gradient(to top, var(--blue), color(var(--blue) blackness(17%)));
  height: 24px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  user-select: none;
  text-align: left;
}

.card-form ul li {
  display: inline-block;
  cursor: pointer;
  margin: 4px 3px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
}

.card-form ul li:nth-child(1) {
  background: #ff5c5c;
  border: 1px solid #e33e41;
  margin-left: 30px;
}

.card-form ul li:nth-child(1):active {
  background: #c14645;
  border: 1px solid #b03537;
}

.card-form ul li:nth-child(2) {
  background: #ffbd4c;
  border: 1px solid #e09e3e;
}

.card-form ul li:nth-child(2):active {
  background: #c08e38;
  border: 1px solid #af7c33;
}

.card-form ul li:nth-child(3) {
  background: #00ca56;
  border: 1px solid #14ae46;
}

.card-form ul li:nth-child(3):active {
  background: #029740;
  border: 1px solid #128435;
}

/* 3.5 Task form
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.task-form form {
  padding: 0 30px;
}

.task-form input, .task-form textarea {
  display: block;
  font-size: 18px;
  line-height: 25px;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid color(#f2 blackness(23%));
  margin: 10px 0;
  width: 100%;
  text-align: left;
}

.task-form textarea {
  resize: none;;
  min-height: 150px;
  max-width: 100%;
}

.task-form button {
  border: 0;
  padding: 10px 35px;
  font-size: 18px;
  background: var(--blue);
  color: #f;
  border-radius: 3px;
  margin: 5px 0 30px 0;
}

.task-form ul {
  margin: 0 0 30px 0;
  padding: 0;
  background: linear-gradient(to top, var(--blue), color(var(--blue) blackness(17%)));
  height: 24px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  user-select: none;
  text-align: left;
}

.task-form ul li {
  display: inline-block;
  cursor: pointer;
  margin: 4px 3px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
}

.task-form ul li:nth-child(1) {
  background: #ff5c5c;
  border: 1px solid #e33e41;
  margin-left: 30px;
}

.task-form ul li:nth-child(1):active {
  background: #c14645;
  border: 1px solid #b03537;
}

.task-form ul li:nth-child(2) {
  background: #ffbd4c;
  border: 1px solid #e09e3e;
}

.task-form ul li:nth-child(2):active {
  background: #c08e38;
  border: 1px solid #af7c33;
}

.task-form ul li:nth-child(3) {
  background: #00ca56;
  border: 1px solid #14ae46;
}

.task-form ul li:nth-child(3):active {
  background: #029740;
  border: 1px solid #128435;
}

/* 3.8 Task
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.task-button {
  display: block;
  color: #f;
  background: var(--blue);
  border: 1px solid color(var(--blue) blackness(13%));
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 20px;
  margin: 20px auto;
  transition: all 0.5s ease;
}

.task-button:hover {
  background: color(var(--blue) blackness(30%));
  border: 1px solid color(var(--blue) blackness(33%));
}

section {
  max-width: 600px;
  margin: 5px auto;
  border-radius: 5px;
}

section .task-name {
  display: block;
  border-radius: 5px;
  color: #f;
  border: 0;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}

section:nth-child(4n+1) {
  background: var(--red);
}

section:nth-child(4n+2) {
  background: var(--blue);
}

section:nth-child(4n+3) {
  background: var(--green);
}

section:nth-child(4n+4) {
  background: var(--yellow);
}

.task-description {
  background: rgba(255, 255, 255, 0.97);
  padding: 10px;
}


.star-rating {
  display: inline-block;
}

.star-rating-checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.star-rating-star {
  display: inline-block;
  padding: 3px;
  vertical-align: middle;
  line-height: 1;
  font-size: 1.5em;
  color: #ABABAB;
  -webkit-transition: color .2s ease-out;
  transition: color .2s ease-out;
}

.star-rating-star:hover {
  cursor: pointer;
}

.star-rating-star.is-selected {
  color: #FFD700;
}

.star-rating-star.is-disabled:hover {
  cursor: default;
}

/* 4.0 Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

footer hr {
  height: 3px;
  background-image: repeating-linear-gradient(90deg, var(--red) 0px, var(--red) 60px, var(--blue) 61px, var(--blue) 120px, var(--green) 121px, var(--green) 180px, var(--yellow) 181px, var(--yellow) 240px);
  border-color: transparent;
  margin: 40px 0 10px 0;
}

footer {
  color: #35;
  margin: 20px auto;
  padding: 10px 15px;
  clear: fix-legacy;
  @media (width >= 990px) {
    width: 970px;
  }
  @media (width >= 1200px) {
    width: 1170px;
  }
}

footer p a {
  transition: color 0.3s ease;
}

footer p a:hover {
  color: var(--red);
}

footer p a:active {
  color: inherit;
}

.thanks {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

.github-link {
  float: left;
}

.special {
  float: right;
}

.yandex {
  color: var(--red);
}
